<div class="mat-elevation-z8">
    <mat-card>
        <mat-card-header>
            <mat-card-subtitle>Artifact</mat-card-subtitle>
            <mat-card-title><b>{{data.type}}/{{data.id}}</b></mat-card-title>
            <mat-card-subtitle><b>Type:</b> {{data.type}}</mat-card-subtitle>
            <mat-card-subtitle><b>ID:</b>: {{data.id}}</mat-card-subtitle>
            <mat-card-subtitle><b>MQTT Broker Host:</b>: {{data.host}}</mat-card-subtitle>
            <mat-card-subtitle><b>MQTT Broker Port:</b>: {{data.port}}</mat-card-subtitle>
            <mat-card-subtitle><b>Stakeholder(s):</b>: {{data.stakeholders_str}}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</div>