<div class="mat-elevation-z8">
    <app-system-information></app-system-information>
</div>

<br>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="enginedataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef> Index </th>
            <td mat-cell *matCellDef="let element"> {{element.index}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Worker Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="engines">
            <th mat-header-cell *matHeaderCellDef> Engine Number </th>
            <td mat-cell *matCellDef="let element"> {{element.engine_mumber}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="capacity">
            <th mat-header-cell *matHeaderCellDef> Max Capacity </th>
            <td mat-cell *matCellDef="let element"> {{element.capacity}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> Up-time </th>
            <td mat-cell *matCellDef="let element"> {{element.uptime}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="hostname">
            <th mat-header-cell *matHeaderCellDef> Hostname </th>
            <td mat-cell *matCellDef="let element"> {{element.hostname}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="port">
            <th mat-header-cell *matHeaderCellDef> REST API port </th>
            <td mat-cell *matCellDef="let element"> {{element.port}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="button">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element"> <a mat-raised-button (click)="openDialog(element.name)">Details</a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="engineDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: engineDisplayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</div>

<br>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="aggregatordataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef> Index </th>
            <td mat-cell *matCellDef="let element"> {{element.index}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Aggregator Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="activity_mumber">
            <th mat-header-cell *matHeaderCellDef> Monitoring Activity Number </th>
            <td mat-cell *matCellDef="let element"> {{element.activity_mumber}} </td>
        </ng-container>
        
        <!-- Weight Column -->
        <ng-container matColumnDef="capacity">
            <th mat-header-cell *matHeaderCellDef>Max Capacity </th>
            <td mat-cell *matCellDef="let element"> {{element.capacity}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> Up-time </th>
            <td mat-cell *matCellDef="let element"> {{element.uptime}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="hostname">
            <th mat-header-cell *matHeaderCellDef> Hostname </th>
            <td mat-cell *matCellDef="let element"> {{element.hostname}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="port">
            <th mat-header-cell *matHeaderCellDef> REST API port </th>
            <td mat-cell *matCellDef="let element"> {{element.port}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="aggregatorDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: aggregatorDisplayedColumns;"></tr>
    </table>
</div>