<div class="mat-elevation-z8">
    <mat-card>
        <mat-card-header>
            <mat-card-subtitle>Stakeholder</mat-card-subtitle>
            <mat-card-title><b>{{data.name}}</b></mat-card-title>
            <!--
            <mat-card-subtitle><b>Type:</b> {{data.artifacttype}}</mat-card-subtitle>
            <mat-card-subtitle><b>ID:</b>: {{data.artifactid}}</mat-card-subtitle>
            <mat-card-subtitle><b>MQTT Broker Host:</b>: {{data.host}}</mat-card-subtitle>
            <mat-card-subtitle><b>MQTT Broker Port:</b>: {{data.port}}</mat-card-subtitle>
            <mat-card-subtitle><b>Stakeholder(s):</b>: {{data.stakeholderstr}}</mat-card-subtitle>-->
        </mat-card-header>
    </mat-card>
</div>