<div class="mat-elevation-z8">
    <mat-card class="input">
        <mat-card-title>Create new Stakeholder</mat-card-title>
        <mat-form-field appearance="fill">
            <mat-label>Enter the Stakeholder's Name</mat-label>
            <input (keyup.enter)="onCreate(new_stakeholder_name.value)" #new_stakeholder_name matInput
                placeholder="Company-1" required>
        </mat-form-field>
        <button mat-raised-button (click)="onCreate(new_stakeholder_name.value)" color="primary">Create</button>
    </mat-card>
</div>

<br>

<div class="mat-elevation-z8">
    <mat-card class="input">
        <mat-card-title>Search for Stakeholder</mat-card-title>
        <div class="artifact-id-container">
            <mat-form-field appearance="fill">
                <mat-label>Enter Stakeholder Name</mat-label>
                <input (keyup.enter)="onSearch(stakeholder_name.value)" #stakeholder_name matInput placeholder="Company-1"
                    required>
            </mat-form-field>
            <br>
            <button mat-raised-button (click)="onSearch(stakeholder_name.value)" color="primary">Search</button>
        </div>
    </mat-card>
</div>

<br>

<div [hidden]="!isResult">
    <div class="mat-elevation-z8">
        <app-stakeholder-detail #stakeholder_details></app-stakeholder-detail>
    </div>
</div>